

.video-carousel-example .carousel-item{
    height: 600px !important;

}

.mypro{
    border-radius: 25px;
}
.mid{
    color: green;
    font-weight: 80%;
    opacity: 70%;
}

.shop-btn{
    border-radius: 25px;
}